<div style="height:100%;">
    <md-form-field floatPlaceholder="auto" style="width:40%">
        <input mdInput #dataKey [(ngModel)]="jsonItem.dataKey" placeholder="Data Key">
    </md-form-field>
    <md-form-field floatPlaceholder="auto" style="width:5%">
        <input mdInput #callID [(ngModel)]="jsonItem.callID" placeholder="Call ID">
    </md-form-field>
    <md-form-field floatPlaceholder="auto" style="width:10%">
        <input mdInput #callphaseID [(ngModel)]="jsonItem.callPhaseID" placeholder="Callphase ID">
    </md-form-field>
    <md-form-field floatPlaceholder="auto">
        <input mdInput #qualifier [(ngModel)]="jsonItem.qualifier" placeholder="Qualifier ">
    </md-form-field>
    <md-form-field floatPlaceholder="auto" style="width:20%">
        <input mdInput #qualifier [(ngModel)]="jsonItem.tableName" placeholder="Table Name">
    </md-form-field>
    <ace-editor 
                [(text)]="jsonItem.data" 
                style="height:85%;" 
                [mode]="'json'"
                [autoUpdateContent]="true"
                #aceeditor 
                (textChanged)="onAceEditorTextChanged($event)">
    </ace-editor>
    <div class="jsop-edit-toolbar" style="display:flex; flex-direction:row">
        <button md-button (click)="onCloseClick()">Close</button>
        <button md-button [md-dialog-close]="jsonItem" [disabled]="isJSONInvalid" tabindex="1" color="primary">Save</button>
        <button md-button (click)="pretifyJSON()" color="accent" [disabled]="isJSONInvalid">Prettify JSON</button>
        <span style="flex:1 0 auto;"></span>
        <md-select placeholder="Theme" [(ngModel)]="aceTheme" (change)="changeTheme()">
            <md-option *ngFor="let theme of aceThemes" [value]="theme.value">
                {{ theme.description }}
            </md-option>
        </md-select>
    </div>
</div>
