h1 {
    color: red;
}

#exceptionMessage {
    text-align: left;
    width: 100%;
}

    #exceptionMessage p {
        color: darkred;
        font-weight:800;
    }

#innerExceptionMessage {
    margin-top: 1em;
    text-align: left;
    width: 100%;
}

    #innerExceptionMessage p {
        color: brown;
        font-weight: 800;
    }



hr {
    height: 10px;
    border: 0;
    box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
