<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>System Exception</title>
</head>
<body>
    <h1 md-dialog-title>{{data.status}} {{data.statusText}}</h1>
    <hr />
    <p>at: <u>{{data.url}}</u></p>
    <div class="mainContent">
        <div md-dialog-content>
            <div id="exceptionMessage">
                <p>Exception Details</p>
                {{data.exceptionMessage}}
                <p *ngIf="data.innerExceptionMessage!==null" style="margin-top:1em;">Inner Exception Details</p>
                {{data.innerExceptionMessage}}
            </div>
        </div>
    </div>
    <div align="center" style="padding-top:2em">
        <button md-button (click)="onOKClick()" color="warn" tabindex="1">OK</button>
    </div>
</body>
</html>