.table-container {
    display: flex;
    flex-direction: column;
    min-width:300px;
}

.table-header {
    min-height: 64px;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
    min-width: 500px;
    margin-left: 32px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.mat-row:hover {
    background-color: #673ab7;
    /*box-shadow: 1px 1px #53a7ea, 2px 2px #53a7ea, 3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);*/
    /*box-shadow: inset 0 0 8px lightgray, 1px 1px 3px darkgray;*/
    box-shadow: 0 0 9px black;
}
.mat-row:hover .mat-cell {
    color:azure;
    font-family:'Comic Sans MS';
    font-weight:700;
    font-style:italic;
}
