<div layout="row" layout-align="center center" style="text-align:center;" (keyup.enter)="searchJson()">
    <label>Search for JSON Data</label><br />
    <md-select placeholder="Search" [(ngModel)]="searchCriterion">
        <md-option *ngFor="let criterion of criteria" [value]="criterion.value">
            {{ criterion.description }}
        </md-option>
    </md-select>
    <md-form-field style="width:75%">
        <input #SearchFilter placeholder="Search Term" mdInput [(ngModel)]="searchFilter">
    </md-form-field>
    <button md-fab color="primary" (click)="searchJson()">Search</button>
    <div style="height:150px"></div>
    <div style="padding-left:1em;padding-right:1em">
        <json-table #jsontable></json-table>
    </div>
</div>

