<form>
    <!--<div layout="row" layout-align="center center" flex style="height:100px;">
        <md-toolbar flex color="primary">PSKE JSON Editor <span style="font-family:'Comic Sans MS'">John Psarakis</span></md-toolbar>
    </div>-->
    <md-toolbar color="primary">
        <md-toolbar flex color="primary">PSKE JSON Editor<span style="flex:1 1 auto;"></span> <span style="font-family:'Buxton Sketch'">by John Psarakis</span></md-toolbar>
    </md-toolbar>
    <br />
    <search-json></search-json>
</form>